*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}

p{
    color: #575757;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.common-btn{
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    border: none; 
    background-color: blue;   
}
.nav{
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 250px;
}
.logo img{
    margin: 10px;
}
.menu{
    margin: 10px;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    gap:10px;
    text-align: center;
    padding: 10px;
    
}
.menu ul li a{
    font-weight: 400;
    font-size: 16px;
    color: #575757;
    gap: 20px;
    margin: 0px 10px;
}
.menu ul li:hover a{
    color:blue;
}
.nav-btn{
    margin: 10px;
}
.common-btn a{
    padding: 0px 20px;
    color: #ffffff;
    
}

.button:hover .nav-btn{
    background: orange;
    color: black;
}

/* navber end  */


/* baner part start  */

.baner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                    url('./image/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.baner-text{
    margin: auto;
    color: #ffffff;
    
}
.baner-text h1{
    font-size: 80px;
    font-weight: bold;
    padding-top: 70px;
    text-align: center;
}
.baner-text p{
    font-size: 22px;
    font-weight: 400px;
    padding: 30px 50px;
    width: 800px;
    text-align: center;
    margin: auto;
    color: #ffffff;
}

.baner-btn {
    margin-top: 400px;
    margin-left: 43%;
    margin-bottom: 65px;
    text-align: center;
}

/* baner end  */

/* meet-part start  */
.meet-part{
    margin: 40px 0px;
}
.meet-part h2{
    text-align: center;
    margin: 20px 0px;
    padding: 30px 0px;
    font-size: 56px;
    font-weight: bold;
}


.meet-card{
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    width: 570px;
    border-radius: 10px;
    border: 1px solid rgb(172, 171, 171);
    padding: 0px 0px 20px 0px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}
.meet-card img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.card-info{
    margin: 10px 5px;
    padding: 0px 15px;
}
.info{
    font-size: 12px;
    font-weight: 600;
    color: blue;
    padding-bottom: 10px;
}
.meet-card h4{
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0px;
}
.meet-card p{
    font-size: 14px;
    font-weight: 400;
}

/* meet and  */
/* prize part start  */

.prize-part{
    margin:30px;
    padding: 20px 0px;
}
.prize-hading{
    text-align: center;
}
.prize-hading h2{
    font-size: 48px;
    font-weight: bold;
    padding: 10px 0px;
}
.prize-hading p{
    font-size: 16px;
    font-weight: 400;
}
.prize-card{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 10pxpx;
    padding: 20px 0px;    
}
.prize{
    width: 390px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.5);
}
.card-2{
    background: #0D1B2A;
}

.card-2-p{
    color: #93C5FD;
}

.prize p{
    padding: 10px 0px;
    font-size: 13px;
    font-weight: 400px;
}
.pp{
    text-transform: uppercase;
    font-weight: 600;
}
.prize h4{
    font-size: 44px;
    font-weight: bold;
}
.prize hr{
    margin: 10px 0;
}
.prize ul{
    margin: 20px 20px 30px 20px;
}

.prize li{
    list-style: disc;
    font-size: 14px;
    font-weight: 400;
    color: #2563EB;
}

.prize li p{
    color: #333333;
}
.prize-btn{
    font-size: 14px;
    font-weight:600;
    background-color: #ffffff;
    border: 1px solid #2563EB;
}
.prize-btn a{
    padding: 5px 100px;
    text-align: center;
    color: #2563EB;
}


.card-prize-2-text{
    color: #ffffff;
}
.card-prize-2-ul li p{
    color: #ffffff;
}
.card-2-btn{
    background-color: #2563EB;
    border: 1px solid black;
}
.card-2-btn a{
    color: #ffffff;
    padding: 0px 119px;
}

.prize:hover{
    transition: all linear 0.2s;
    transform: scale(1.11);
    box-shadow: 5px 1px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* prize end  */